<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name = "android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Onitama"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Onitama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.activities.inicial.Ini_Activity">
        </activity>
        <activity
            android:name=".ui.activities.login.Ini_Ses_Activity">
        </activity>
        <activity
            android:name=".ui.activities.ajugar.MenuPrincipalActivity">
        </activity>
        <activity
            android:name=".ui.activities.registro.Reg_Activity">
        </activity>
        <activity
            android:name=".ui.activities.buscarpartida.Buscar_PartidaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.partida.PartidaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activities.cartas.Cartas_activity">
        </activity>
        <activity
            android:name=".ui.activities.amigos.Amigos_Activity">
        </activity>
        <activity
            android:name=".ui.activities.perfil.Perfil_Activity">
        </activity>
        <activity
            android:name=".ui.activities.notificaciones.Notificaciones_Activity">
        </activity>
        <activity
            android:name=".ui.activities.tienda.Tienda_Activity">
        </activity>
        <activity
            android:name=".ui.activities.tableros.Tableros_Activity">
        </activity>

    </application>
</manifest>